.experience {
  margin-bottom: 2.4rem;
  padding: 0 1.2rem 2.4rem;
  border-bottom: 1px solid var(--background-light);
}

.experienceItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 155px;
  overflow: visible;
  // gap: 7px;
}

.experienceItemWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 43px;
  align-items: center;
  justify-items: center;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 1.2rem;
}

.title {
  font-size: var(--text-md);
  font-weight: bold;
}

.position {
  color: var(--brand);
  font-weight: bold;
}

.description {
  margin-bottom: 1.8rem;
  font-weight: 200;
}

.tech {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.techLogo {
  // height: 40px;
  // width: 40px;
  // font-size: 1.7rem;
  border-radius: 50%;
  // border: 1px solid white;
  // line-height: 1.4;
  // margin: 0 15px 0 0;
  box-shadow: 0 0 0 3px rgb(48, 74, 147) !important;
  transition: all 500ms ease;
}

.javascript-icon {
  height: 100px;
  width: 100px;
  object-fit: scale-down;
  border-radius: 50%;
}

.python-icon {
  position: relative;
  // top: 6px;
  // left: 1.5px;
  height: 100px;
  width: 100px;
  object-fit: scale-down;
}

.react-icon {
  height: 100px;
  width: 100px;
  object-fit: scale-down;
  border-radius: 50%;
}

.redux-icon {
  position: relative;
  // bottom: 5px;
  height: 100px;
  width: 100px;
  object-fit: scale-down;
}

.html-icon {
  position: relative;
  // top: 5px;
  height: 100px;
  width: 100px;
  object-fit: scale-down;
}

.css-icon {
  position: relative;
  bottom: 5px;
  height: 125px;
  width: 124px;
  object-fit: contain;
  margin-bottom: -7px;
}

.flask-icon {
  position: relative;
  // bottom: 3px;
  height: 100px;
  width: 100px;
  object-fit: scale-down;
}

.express-icon {
  // font-size: 20px;
  object-fit: scale-down;
}

.aws-icon {
  position: relative;
  // top:-16px;
  height: 110px;
  width: 110px;
  object-fit: scale-down;
  margin-bottom: -10px;
}

.sqlalchemy-icon {
  position: relative;
  height: 100px;
  width: 100px;
  object-fit: scale-down;
  // margin-bottom: -2px;
}

.sequelize-icon {
  position: relative;
  height: 100px;
  width: 100px;
  object-fit: scale-down;
}

.github-icon {
  position: relative;
  height: 100px;
  width: 100px;
  object-fit: scale-down;
  margin-bottom: 5px;
}

.postgresql-icon {
  position: relative;
  // top: 5px;
  height: 100px;
  width: 100px;
  object-fit: scale-down;
}

.postman-icon {
  position: relative;
  height: 190px;
  width: 190px;
  // bottom: 42px;
  object-fit: scale-down;
}

.noLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  margin-bottom: 7px;
  font-size: 2.4rem;
}

.postmanTitle {
  font-size: var(--text-md);
  font-weight: bold;
  position: relative;
  bottom: 42px;
}

.cssTitle {
  font-size: var(--text-md);
  font-weight: bold;
  position: relative;
  bottom: 8px;
}

.expressTitle {
  font-size: var(--text-md);
  font-weight: bold;
  position: relative;
  bottom: 20px;
}
