.stats {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 900px) {
    // grid-template-columns: 1fr;
    flex-direction: row;
    justify-content: space-between;
  }
}

.statColumn {
  h4 {
    display: flex;
    align-items: center;

    margin-bottom: 2.4rem;
    span {
      font-size: var(--text-md);
      font-weight: bold;
      position: relative;
      margin-left: 0.8rem;
    }
  }
}

.statGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;

  margin-bottom: 4.8rem;
}

.profPic {
  position: relative;
  width: 300px;
  height: 300px;
  object-fit: fill;
  border-radius: 50%;
  margin-bottom: 15px;

  @media (max-width: 900px) {
    // grid-template-columns: 1fr;
    margin-bottom: -7px;
  }

  @media (max-width: 790px) {
    width: 275px;
    height: 275px;
  }

  @media (max-width: 650px) {
    width: 250px;
    height: 250px;
  }

  @media (max-width: 600px) {
    width: 200px;
    height: 200px;
  }
}

.aboutInfo {
  p {
    padding: 10px 0;
    font-size: 17px;
    font-family: '__Poppins_5a8ae0', '__Poppins_Fallback_5a8ae0';
    font-style: normal;
  }
  .titleS {
    font-weight: bold;
  }
}

@media (max-width: 555px) {
  .profPic {
    width: 175px;
    height: 175px;
  }
}

@media (max-width: 530px) {
  .profPic {
    width: 175px;
    height: 175px;
  }

  .aboutInfo {
    p {
      padding: 8px 0;
      font-size: 15px;
    }
  }
}

@media (max-width: 500px) {
  .profPic {
    width: 160px;
    height: 160px;
  }

  .aboutInfo {
    p {
      padding: 6px 0;
      font-size: 14px;
    }
  }
}
