.sideBar {
  // background: var(--background-dark);
  background-color: transparent;
  // height: 100vh;
  position: sticky;
  top: 0px;
  z-index: 20;
  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  // overflow-y: scroll;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  a {
    // height: 100px;

    height: 80px;

    flex-shrink: 0;

    // writing-mode: vertical-lr;
    font-size: var(--text-sm);
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;

    border-right: 1px solid transparent;

    transition: 0.1s all;
    // width: 100%;
  }

  a:hover {
    // background: var(--background);
    background: transparent;
    border-bottom: 1px solid var(--brand);
    opacity: 1;
  }

  .selected {
    // background: var(--background);
    border-bottom: 1px solid var(--brand);
    opacity: 1;
  }
}

.logo {
  flex-shrink: 0;

  font-size: var(--text-md);
  font-weight: 900;
  line-height: 1;

  width: 45px;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: center;

  // background: var(--background);
  background: transparent;
  // border-radius: 4px;

  margin: 1.8rem 0;
  // border-bottom: none;

  span {
    font-size: var(--text-md);
    font-weight: 900;
    line-height: 1;
    color: var(--brand);
  }
}

.sideBar::-webkit-scrollbar {
  display: none;
}

.logo.selected {
  // background: var(--background);
  border-bottom: 1px solid var(--brand);
  opacity: 1 !important;
}

// .bgActive {
//   background: rgb(17, 17, 17);
// }
.sideBar.hasBackground {
  background: rgb(17, 17, 17);
}
