.links {
  display: flex;
  gap: 2rem;
  padding-top: 10px;

  a {
    opacity: 0.5;
    position: relative;
    z-index: 20;
  }

  a:hover {
    color: var(--brand);
    opacity: 1;
  }

  @media (max-width: 768px) {
    gap: 0.8rem;
  }
}
